<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
    <title>Thêm User</title>
</head>
<body>
<div layout:fragment="content" class="container mt-4">

    <h2>Thêm User mới</h2>

    <form th:action="@{/admin/user/insert}"
          method="post" enctype="multipart/form-data" class="mt-3">

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" name="email" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Họ tên</label>
            <input type="text" name="fullName" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Số điện thoại</label>
            <input type="text" name="phone" class="form-control"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Mật khẩu</label>
            <input type="password" name="password" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Quyền Admin</label>
            <select name="isAdmin" class="form-select">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Avatar</label>
            <input type="file" name="avatarFile" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-success">Thêm mới</button>
        <a th:href="@{/admin/users}" class="btn btn-secondary">Quay lại</a>
    </form>

</div>
</body>
</html>
