<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
                 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - User">User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

    <!-- Header giữ nguyên -->
    <div th:replace="fragments/user/header :: header"></div>

    <!-- Content sẽ thay đổi theo từng trang con -->
    <main class="container mt-4" layout:fragment="content"></main>

    <!-- Footer giữ nguyên -->
    <div th:replace="fragments/user/footer :: footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
